body {
    user-select: none;
    background-color: black;
}

.clip_item {
    padding: 3%;
    color: white;
    margin: 3%;
    border: 1px solid gray;
    cursor: pointer;
    height: 50px;
}

.clip_item:hover {
    background-color: rgba(128, 128, 128, 0.25);
    border: 1px solid white;
}

.clip_text {
    float: left;
    width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip_action {
    float: right;
    width: 5%;
}

/* Scrollbar Styles */

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}