body {
    user-select: none;
    background-color: black;
}

#top-bar-div {
    width: 100%;
    text-align: right;
    color: white;
    margin-bottom: 10px;
}

#top-bar-div button {
    margin-right: 5px;
    cursor: pointer;
}

#settingsButton {
    background: none;
}

#settings {
    display: none;
    color: white;
}

#settings button {
    cursor: pointer;
}

#settings-head {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#settings-head h3 {
    color: orange;
}

#settings-body h4 {
    text-decoration: underline;
}

#tab-limit,
#clips-limit {
    width: 50px;
}

#cleanup-btn {
    background-color: red;
    color: white;
}

#settings-body a {
    text-decoration: none;
    color: teal;
}

.clip_item {
    padding: 3%;
    color: white;
    margin: 3%;
    border: 1px solid gray;
    cursor: pointer;
    height: 50px;
}

.clip_item:hover {
    background-color: rgba(128, 128, 128, 0.25);
    border: 1px solid white;
}

.clip_text {
    float: left;
    width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip_action {
    float: right;
    width: 5%;
}

/* Scrollbar Styles */

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#tabs {
    display: flex;
}

.tab {
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.new-tab-div {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.new-tab-div input {
    width: 125px;
}

.new-tab-div button {
    cursor: pointer;
}

.tab.active {
    background-color: orange;
    font-weight: bolder;
}

.tab-content {
    margin-top: 10px;
    display: none;
}

.tab-content input {
    width: 83vw;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1%;
}

.tab-content button {
    margin-bottom: 1%;
    cursor: pointer;
    width: 30px;
    padding: 5px;
    border-radius: 5px;
}

.tab-content .add-cc-content-btn {
    width: auto;
}

.tab-content.active {
    display: block;
}

.close {
    float: right;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 10px;
    font-size: x-small;
    background-color: red;
    font-weight: bolder;
}

@media (max-width: 600px) {
    #tabs {
        flex-wrap: wrap;
    }

    .tab {
        margin-bottom: 10px;
    }
}